@{
    ViewData["Title"] = "Home";
}

<section class="bg-custom">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col p-0">
                        <img src="~/image/bg2.png" class="img-fluid" />
                    </div>
                    <div class="col p-0">
                        <img src="~/image/bg2.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        @*    <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>*@
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="my-4">
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <div class="card border-0 rounded-0 text-white">
                    <img src="~/image/jacket.png" class="img-fluid"/>
                    <div class="card-img-overlay m-3">
                        <h4 class="fw-bold">JACKETS, COATS</h4>
                    </div>
                </div>
            </div>
            <div class="col p-5">
                <div class="card border-0 rounded-0 text-white">
                    <img src="~/image/sweater.png" class="img-fluid" />
                    <div class="card-img-overlay m-3">
                        <h4 class="fw-bold">SWEATERS, CARDIGANS</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col p-5">
                <div class="card border-0 rounded-0 text-white">
                    <img src="~/image/shoes.png" class="img-fluid" />
                    <div class="card-img-overlay m-3">
                        <h4 class="fw-bold">SHOES</h4>
                    </div>
                </div>
            </div>
            <div class="col p-5">
                <div class="card border-0 rounded-0 text-white">
                    <img src="~/image/accessories.png" class="img-fluid" />
                    <div class="card-img-overlay m-3">
                        <h4 class="fw-bold">ACCESSORIES</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

