@model Size

<div class="card shadow rounded-0">
	<div class="card-header bg-body-secondary ml-0 py-1">
		<div class="row">
			<div class="col-12">
				<h5 class="p-2">Create New Size</h5>
			</div>
		</div>
	</div>
	<div class="card-body p-3">
		<form method="post" class="row p-2">
			<div>
				<label asp-for="Name" class="mb-1"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="row pt-3">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-success py-2 form-control">Create</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Size" asp-action="Index" class="btn btn-outline-dark py-2 border form-control">Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}