@model Color

<div class="card shadow rounded-0">
	<div class="card-header bg-body-secondary ml-0 py-1">
		<div class="row">
			<div class="col-12">
				<h5 class="p-2">Delete Color</h5>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">
			<input asp-for="Id" hidden />
			<div>
				<label asp-for="Name" class="mb-1"></label>
				<input asp-for="Name" disabled class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="row pt-3">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-danger form-control">Delete</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Color" asp-action="Index" class="btn btn-outline-dark form-control">Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

